*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 3rem;
    color: #343434;
    font-family: sans-serif;
    font-weight: 700;
     line-height: 0.98863636em;
    text-align: center;
    text-transform: none;
    letter-spacing: -0.02em;
}
